* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
		background-color: #70adb5 !important;
}

/*a {
	color: #212121;
}*/

#landing {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 30vh; 
}

html {
  scroll-behavior: smooth;
}


#section-1-info {
	display: flex;
	padding-top: 5vh;
	padding-left: 10px;
	flex-direction: column;
	height: 30vh;
}

#section-1-info > p {
	font-family: 'Roboto', sans-serif;
	font-size: 20px
	color: #212121;
}

#quick-links {
	display: flex;
	width: 30%;
	font-size: 20px;
	justify-content: space-around;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	background-color: #132743;
	border-radius: 20px;
}

#quick-links > a {
	color: #ffcbcb;
}

#section-2 {
	margin-left: 10vw;
	margin-right: 10vw;
	display: flex;
	flex-direction: column;
	width: 80vw;
	height: 80vh;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 2rem;
	background-color: #ffedb5;
	border-radius: 10px 10px 200px 10px;
}

#section-2-main {
	display: flex;
	flex-direction: row;
}

#section-2-info {
	margin-left: 15px;
	height: 60vh;
	width: 30vw;
	font-family: 'Roboto', sans-serif;
}

#section-2-info > p {
	line-height: 20px;
}



#section-2 > h1 {
	font-family: 'Be Vietnam', sans-serif;
	font-weight: 900;
	font-size: 70px;
	color: #212121;
}

#section-2-main > img {
	height: 30vh;
	width: 30vh;
	max-width: 50%;
}

#section-2-info > h2 {
	font-family: 'Be Vietnam', sans-serif;
	font-weight: 900;
	color: #212121;
}

#section-2-info-2 > h2 {
	font-family: 'Be Vietnam', sans-serif;
	font-weight: 900;
	color: #212121;
}

#section-2-info-2 {
	margin-left: 15px;
}
#section-2-info-2 > p {
	line-height: 7px;
	font-family: 'Roboto', sans-serif;
	color: #212121;
}



ul, li {
	margin-left: 10px;
}

#section-3 {
	margin-left: 10vw;
	margin-right: 10vw;
	display: flex;
	flex-direction: column;
	width: 80vw;
	height: 75vh;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 2rem;
	background-color: #ffedb5;
	border-radius: 10px 10px 200px 10px;
}



#section-3 > h1 {
	display: flex;
	font-family: 'Be Vietnam', sans-serif;
	font-weight: 900;
	color: #212121;
	font-size: 70px;

}

#section-3 > p {
	font-family: 'Roboto', sans-serif;
	color: #212121;
}

#skills-info {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

#know > h2 {
	font-family: 'Be Vietnam', sans-serif;
	font-weight: 900;
	color: #212121;
}

#know {
	font-size: 70px;
	width: 60vw;
	text-align: center;
	color: #212121;
	background-color: #ffb36b;
	border-radius: 10px 10px 100px 10px;
}

#tools-2 {
	align-items: center;
	text-align: center;
}

#tools-3 > img {
	height: 85px;
	width: 85px;
	margin-bottom: 10px;
}

#section-4 {
	margin-left: 10vw;
	margin-right: 10vw;
	display: flex;
	flex-direction: column;
	width: 80vw;
	height: 130vh;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 2rem;
	background-color: #ffedb5;
	border-radius: 10px 10px 200px 10px;
}

#section-4 > h1 {
	display: flex;
	font-family: 'Be Vietnam', sans-serif;
	font-weight: 900;
	color: #212121;
	font-size: 70px;
	margin-bottom: 0px;
}

#section-4 > p {
	font-family: 'Roboto', sans-serif;
}


#gallery {
	align-items: center;
	padding: 10px 0px 10px;
	margin: 10px auto;
	background-color: #ffb36b;
	border-radius: 10px 10px 100px 10px;
	width: 60vw
}

#gallery > h2 {
	font-family: 'Be Vietnam', sans-serif;
	font-weight: 900;
	color: #212121 ;
	font-size: 40px;
	margin: 10px auto;
}

.img-thumbnail {
	transition: transform .2s;
}

.img-thumbnail:hover {
	transform: scale(3);
}

.breadbox {
	width: auto;
	height: 45vh;
	border-style: solid;
	border-color: #ffffff;
}


#section-5 {
	margin-left: 10vw;
	margin-right: 10vw;
	display: flex;
	flex-direction: column;
	width: 80vw;
	height: 45vh;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 2rem;
	background-color: #ffedb5;
	border-radius: 10px 10px 200px 10px;
}

#section-5 > h1 {
	display: flex;
	font-family: 'Be Vietnam', sans-serif;
	font-weight: 900;
	color: #212121;
	font-size: 70px;
	margin-bottom: 0px;
}

#section-5 > p {
	font-family: 'Roboto', sans-serif;
	color: #212121;
	font-size: 20px;
}

.contacts {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	display: flex;
	justify-content: space-around;
	text-decoration: none;
}

.contact-link > a {
	color: #212121;
}


footer {
	background-color: #ffb36b;
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
}

#mailing-list > button {
	height: 40px;
}

#mailing-list {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 30vw;
}

/* desktop 992px wide or less, */
@media screen and (max-width: 1250px) {

	#section-1 {
		float: none;
	    width: 100%;
	  }

	#section-2 {
		display: flex;
		flex-direction: column;
	}

}


/* tablet 800px wide or less, the background color is olive */
@media screen and (max-width: 800px) {


}

/* mobile px wide or less, the background color is olive */
@media screen and (max-width: 370px) {

#quick-links {
	display: flex;
	flex-direction: column;
	width: 5vh;
	font-size: 20px;
	justify-content: center;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Be Vietnam', sans-serif;
	font-weight: 900;
	background-color: #ffb36b;
	border-radius: 20px;
}



}


